SPOTIFY DATA SET

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\python project 2024-25\spotify_millsongdata.csv")

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.shape

(57650, 4)

NO NULL VALUES

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

WE DON'T REQUIRE LINK COLOUMN

In [84]:
#df = df.sample(10000).drop('link',axis=1).reset_index(drop=True)
if 'link' in df.columns:
    df = df.drop('link', axis=1)

df = df.sample(10000).reset_index(drop=True)

In [85]:
df.head(5)

,artist,song,text
0,Perry Como,Deep In Your Heart,it takes a certain kind of somethin special ...
1,Tom T. Hall,Kentucky In The Morning,i will sing of a place that you may have seen ...
2,Ella Fitzgerald,"Can Anyone Explain? (No, No, No!)",can anyone explain the thrill of a kiss \r no...
3,Donna Summer,If There Is Music There,if there is music there \r i ll have to go \...
4,Josh Groban,Over The Rainbow,somewhere over the rainbow \r way up high \r...

In [86]:
df['text'][0]

'it takes a certain kind of somethin  special  \r deep in your heart  that s where it starts  deep in your heart  \r it takes a certain kind of somethin  special  \r deep in your heart  for love to come your way   \r   \r it takes a lot of true consideration  \r deep in your heart  that s where it starts  deep in your heart  \r it takes a lot of true consideration  \r deep in your heart  for love to come your way   \r   \r it takes a faith and trusting understanding  \r deep in your heart  that s where it starts  deep in your heart  \r it takes a faith and trusting understanding  \r deep in your heart  for love to come your way   \r   \r       for love to come your way \r \r '

In [87]:
df.shape

(10000, 3)

TEXT CLEANING / TEXT PRE PROCESSING

In [88]:
df['text'].str.lower().replace(r'[^\w\s]', ' ', regex=True).replace(r'\n', ' ', regex=True)

0       it takes a certain kind of somethin  special  ...
1       i will sing of a place that you may have seen ...
2       can anyone explain the thrill of a kiss  \r no...
3       if there is music there  \r i ll have to go  \...
4       somewhere over the rainbow  \r way up high  \r...
                              ...
9995    the way you looked at me  \r tells me you re s...
9996    another night sleepless  \r i don t want to fe...
9997    on monday morning  ocean rain was falling  \r ...
9998    do you remember anyone here   \r no you don t ...
9999    well  i had me a pigeon  \r by the name of fre...
Name: text, Length: 10000, dtype: object

In [89]:
df['text'] = df['text'].str.lower().replace(r'[^\w\s]', ' ', regex=True).replace(r'\n', ' ', regex=True)

In [90]:
df.tail(5)

,artist,song,text
9995,Jennifer Lopez,We Gotta Talk,the way you looked at me \r tells me you re s...
9996,Meat Loaf,Cry Over Me,another night sleepless \r i don t want to fe...
9997,Modern Talking,America,on monday morning ocean rain was falling \r ...
9998,Talking Heads,Memories Can't Wait,do you remember anyone here \r no you don t ...
9999,America,Pigeon Song,well i had me a pigeon \r by the name of fre...

TOKENIZATION

In [26]:
import nltk
from nltk.stem.porter import PorterStemmer
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Javed
[nltk_data]     miya\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [91]:
st = PorterStemmer()

In [92]:
def token(text):
    tokens = nltk.word_tokenize(text)
    tokens_list = [st.stem(w) for w in tokens]
    return " ".join(tokens_list)

In [93]:
print(token('you are beautiful'))

you are beauti

In [94]:
df['text'].apply(lambda x: token(x))

0       it take a certain kind of somethin special dee...
1       i will sing of a place that you may have seen ...
2       can anyon explain the thrill of a kiss no no n...
3       if there is music there i ll have to go never ...
4       somewher over the rainbow way up high there s ...
                              ...
9995    the way you look at me tell me you re sorri yo...
9996    anoth night sleepless i don t want to feel thi...
9997    on monday morn ocean rain wa fall and tuesday ...
9998    do you rememb anyon here no you don t rememb a...
9999    well i had me a pigeon by the name of fred but...
Name: text, Length: 10000, dtype: object

DISTANCE CALCULATER

In [95]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [96]:
tfid = TfidfVectorizer(analyzer='word',stop_words = 'english')

In [97]:
matrix = tfid.fit_transform(df['text'])

In [98]:
matrix

<10000x33782 sparse matrix of type '<class 'numpy.float64'>'
	with 537848 stored elements in Compressed Sparse Row format>

In [99]:
cosine_similarity(matrix)

array([[1.        , 0.01072792, 0.05942137, ..., 0.01796696, 0.        ,
        0.        ],
       [0.01072792, 1.        , 0.00607492, ..., 0.06662503, 0.00766188,
        0.01623346],
       [0.05942137, 0.00607492, 1.        , ..., 0.02960894, 0.04509438,
        0.03940349],
       ...,
       [0.01796696, 0.06662503, 0.02960894, ..., 1.        , 0.07870531,
        0.00767752],
       [0.        , 0.00766188, 0.04509438, ..., 0.07870531, 1.        ,
        0.01893837],
       [0.        , 0.01623346, 0.03940349, ..., 0.00767752, 0.01893837,
        1.        ]])

In [80]:
similar = cosine_similarity(matrix)

In [81]:
similar[0]

array([1.        , 0.0153565 , 0.00682395, ..., 0.00362857, 0.04664266,
       0.01768811])

In [49]:
df[df["song"] == "Shadows" ].index[0]

5942

RECOMMENDER FUNCTION

In [101]:
def recommend(song_name) :
    idx = df[df["song"] == song_name ].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for i in distance[1:5] :
        song.append(df.iloc[i[0]].song)
    return song

In [102]:
recommend("America")

['Half Of Him', 'Ripple', "Love Ain't Like That", 'Moment Of Forever']

In [105]:
import pickle

In [107]:
pickle.dump(similar,open("similarity","wb"))

In [108]:
pickle.dump(df,open("df","wb"))